.title {
    font-size: 2.5rem;
    line-height: 1.6;
    color: #0B132A;
    font-weight: 600;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #0B132A;
    font-weight: 600;
    margin-bottom: 20px;
}
.description {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #4F5665;
}
.align-div {
    width: 83%;
    margin: auto;
}

.button-form-presentation {
    background: #F53838;
    padding: 25px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    margin-top: 25px;
    border: none;

    transition: 0.4s;
}
.button-form-presentation:hover {
    background: #cf1b1b;
    box-shadow: 0px 15px 28px 1px rgba(245,56,56,0.81);
    text-decoration: none;
    color: #FFFFFF;
}






@media (max-width: 1000px) {
    .title, .description, .subtitle{
        text-align: center;
    }
    .presentation-wrapper {
        flex-direction: column;
    }
    .presentation-description-container {
        align-items: center;
    }
}