@media (min-height: 600px) {
    .presentation-wrapper {
        height: 500px;
    }
}
.presentation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentation-description-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: #4F5665;
}
.img-container-presentation {
    flex: 2;
}
.img-container-presentation img {
    width: 100%;
}

@media (max-width: 1000px) {
    .presentation-wrapper {
        flex-direction: column;
    }
    .presentation-description-container {
        align-items: center;
    }
    .img-container-presentation img {
        margin-top: 20px;
    }
}